<footer class="container-fluid">
    <div class="row" style="font-size: 1rem; background-color: #878787; color: #c0c0c0;">
        <div class="w-25 p-3 col"></div>
        <div class="w-50 p-3 col-8">
            <a href="/privacy-policy" style="color: whitesmoke;">Privacy Policy</a>&nbsp;&nbsp;
            <a href="/terms-of-service" style="color: whitesmoke;">Terms of Service</a>
        </div>
        <div class="w-25 p-3 col"></div>
        <div class="container" style="font-size: .8rem; text-align: center; background-color: #4c4c4c; padding: 5px; color: #c0c0c0;">
            <p><br>All product and company names are trademarks™ or registered® trademarks of their respective holders. The use of them does not imply any affiliation with or endorsement by them.</p>
        </div>            
    </div>
    <div class="container">
        <p class="footer-copyright">&copy;<script>document.write(new Date().getFullYear())</script> All Rights Reserved.</p>
    </div>
</footer>